    <div class="row justify-content-center mt-5">
        <div class="col-6" *ngIf="post">
            <div class="text-end ">
                <h6 class="m-0">{{post.user.username}}</h6>
                <h6 class="text-muted">{{post.user.email}}</h6>
            </div>
            <h1 class="display-1 mb-3">
                {{post.title}}
            </h1>
            <p>
                {{post.body}}
            </p>
            <div class="actions" *ngIf="isAuthenticated">
                <button (click)="deletePost(post.id)" class="btn btn-danger me-1 shadow">Delete</button>
                <button class="btn btn-warning shadow">Edit</button>
            </div>
        </div>
    </div>